<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>test</title>
	<style type="text/css">
		
	</style>
	<link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
	<div class="content">
		<div class="topBar">
			<h1>书影音·我看过的</h1>

		</div>
		<div class="mainBar">
			<introCard>
				<h3>{{data[0][0]}}</h3>
				<cardContent>
					<img src="{{data[0][3]}}" />
					<p>{{data[0][4]}}</p>
				</cardContent>
			</introCard>
			<introCard>
				<h3>{{data[1][0]}}</h3>
				<cardContent>
					<img src="{{data[1][3]}}" />
					<p>{{data[1][4]}}</p>
				</cardContent>
			</introCard>
		</div>
		<div class="bottomBar">
			<span>Author:Zhang<br/>
			E-mail:233@233.com</span>
		</div>
	</div>


	<div class="test">
		<div class="counter">
			<span class="spe" data-add="world">hello</span>
		</div>
	</div>

	<script type="text/javascript"  src="../static/js/index.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>